* {
  font-family: 'Comic Neue', cursive;  
  font-weight: bold;
  font-size: 24px;
  background-color: seagreen;
  color: white;
}

.row-container {
  display: flex;
}

.trick, .score {
  flex-grow: 1;
  flex-basis: 25%;
}

.players, .game-code {
  flex-grow: 1;
  flex-basis: 75%;
}

.hidden {
  visibility: hidden;
}

.hand-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 71px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.red {
  color: red;
  background-color: white;
}

.black {
  color: black;
  background-color: white;
}