:root {
  --green: #2e8b57;
  --green-blue: #2e8b65;
  --green-yellow: #2e8b50;
  --blue: #4C6085;
  --pink: #E56B70;
  --yellow: #E2D686;
  --gray: #333333;
  --light-gray: #aaaaaa;
  --brown: #2C0703;
}

* {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

html {
  min-height: 100%;
  min-width: 100%;
}
body {
  background-color: var(--green);
  background-image: linear-gradient(to top, var(--green-blue), var(--green-yellow));
  margin: 30px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  text-align: center;
}

button, input {
  background-color: var(--blue);
  height: 40px;
}

.row-container {
  display: flex;
  justify-content: center;
}

.home-page-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.input {
  padding: 5px;
  border: none;
  margin-bottom: 5px;
  border-style: outset;
  border-radius: 6px;
  border-color: var(--blue);
}

.input::placeholder {
  color: var(--light-gray);
}

.btn {
  width: 80%;
  padding: 5px;
  border-style: outset;
  border-radius: 6px;
  border-color: var(--blue);
}

.btn:disabled {
  opacity: 0.7;
  color: white
}

.home-page {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.trick-container {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.trick {
  height: 200px;
  width: 408px;
  border-style: dashed;
  border-radius: 6px;;
  border-color: black;
  background-color: var(--green);
}

.status {
  flex-grow: 1;
  flex-basis: 25%;
  background-color: var(--yellow);
  color: var(--gray);
  border-style: outset;
  border-radius: 6px;
  border-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.status-description {
  color: var(--brown);
}

.score {
  flex-grow: 1;
  flex-basis: 25%;
  background-color: var(--blue);
  padding: 15px;
  border-style: outset;
  border-radius: 6px;
  border-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.score > table {
  width: 100%;
  text-align: left;
}

.game-code {
  flex-grow: 1;
  flex-basis: 50%;
}

.hidden {
  visibility: hidden;
}

.hand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  width: 80px;
  height: 112px;
  border: 1px solid gray;
  border-style: outset;
  border-radius: 6px;
  background-color: white;
  margin: 5px;
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.red {
  color: red;
}

.black {
  color: black;
}